{% extends 'music/master1.html' %}
{% block title %}Albums{% endblock %}
{% block link %}	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="WOW Slider, jQuery Slider Animate, jQuery Slider Text" />
	<meta name="description" content="WOWSlider created with WOW Slider, a free wizard program that helps you easily generate beautiful web slideshow" />
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" media="screen" />
	<style type="text/css">a#vlb{display:none}</style>
	<script type="text/javascript" src="engine1/jquery.js"></script>
{% endblock %}
	<!-- End WOWSlider.com HEAD section -->
{% block body %}
<div class="jumbotron">
	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	<div class="ws_images">
<a href="#"><img src="../../static/music/images/data1/images/1.jpg" alt="1" title="1" id="wows0"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p1.jpg" alt="p1" title="p1" id="wows1"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p2.jpg" alt="p2" title="p2" id="wows2"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p3.jpg" alt="p3" title="p3" id="wows3"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p4.jpg" alt="p4" title="p4" id="wows4"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p5.jpg" alt="p5"title="p5" id="wows5"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p6.jpg" alt="p6"title="p6" id="wows6"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p7.jpg" alt="p7"title="p7" id="wows7"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p8.jpg" alt="p8" title="p8" id="wows8"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p9.jpg" alt="p9" title="p9" id="wows9"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p10.jpg"alt="p10" title="p10" id="wows10"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p11.jpg"alt="p11" title="p11" id="wows11"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p12.jpg" alt=p12 title="=p12"id="wows12"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p14.jpg" alt="p14" title="p14" id="wows14"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p15.jpg" alt="p15" title="p15" id="wows15"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p16.jpg" alt="p16" title="p16" id="wows16"/></a>
<a href="#"><img src="../../static/music/images/data1/images/p17.jpg"alt="p17" title="p17" id="wows17"/></a>
</div>
<div class="ws_bullets"><div>
<a href="#wows0" title="1"><img src="../../static/music/images/data1/tooltips/1.jpg" alt="1"/>1</a>
<a href="#wows1" title="p1"><img src="../../static/music/images/data1/tooltips/p1.jpg" alt="p1"/>2</a>
<a href="#wows2" title="p2"><img src="../../static/music/images/data1/tooltips/p2.jpg" alt="p2"/>3</a>
<a href="#wows3" title="p3"><img src="../../static/music/images/data1/tooltips/p3.jpg" alt="p3"/>4</a>
<a href="#wows4" title="p4"><img src="../../static/music/images/data1/tooltips/p4.jpg" alt="p4"/>5</a>
<a href="#wows5" title="p5"><img src="../../static/music/images/data1/tooltips/p5.jpg" alt="p5"/>6</a>
<a href="#wows6" title="p6"><img src="../../static/music/images/data1/tooltips/p6.jpg" alt="p6"/>7</a>
<a href="#wows7" title="p7"><img src="../../static/music/images/data1/tooltips/p7.jpg" alt="p7"/>8</a>
<a href="#wows8" title="p8"><img src="../../static/music/images/data1/tooltips/p8.jpg" alt="p8"/>9</a>
<a href="#wows9" title="p9"><img src="../../static/music/images/data1/tooltips/p9.jpg" alt="p9"/>10</a>
<a href="#wows10" title="p10"><img src="../../static/music/images/data1/tooltips/p10.jpg" alt="p10"/>11</a>
<a href="#wows11" title="p11"><img src="../../static/music/images/data1/tooltips/p11.jpg" alt="p11"/>12</a>
<a href="#wows12" title="p12"><img src="../../static/music/images/data1/tooltips/p12.jpg" alt="p12"/>13</a>
<a href="#wows13" title="p14"><img src="../../static/music/images/data1/tooltips/p14.jpg" alt="p14"/>14</a>
<a href="#wows14" title="p15"><img src="../../static/music/images/data1/tooltips/p15.jpg" alt="p15"/>15</a>
<a href="#wows15" title="p16"><img src="../../static/music/images/data1/tooltips/p16.jpg" alt="p16"/>16</a>
<a href="#wows16" title="p17"><img src="../../static/music/images/data1/tooltips/p17.jpg" alt="p17"/>17</a>
</div></div>
<a style="display:none" href="http://wowslider.com">jQuery Slider Scroll by WOWSlider.com v1.7</a>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

      <h2><font face="Harlow Solid"color="#00ced1">Welcome,Music world!</font></h2>
  <h4><font face="Jokerman"color="blue"><u>Created by Dhurub Saxena</u></font></h4>
  <h5><marquee direction="left"><font face="Magneto" color="black" size="20">“Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything.” So Enjoy the music and feel the lyrics with music World!!!</font></marquee></h5>
  <div><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></div> </div></body>
</div>

{% block add %}
{% endblock %}
{% endblock %}